html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details,
figcaption, figure, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    word-wrap: break-word;
    word-break: keep-all;
}

body, input, select, textarea, button {
    border: none;
    font-family: 'scdream4', 'Noto Sans KR', sans-serif;
    color: #1f2233;
}

input[type=tel], input[type=time], input[type=text],
input[type=password], input[type=search], input[type=email],
input[type=file], input[type=url], input[type=number], input[type=date], textarea {
    height: 46px;
    font-size: 0.75rem;
    color: #1f2233;
    padding: 0 10px;
    border: 1px solid #ddd;
    transition: all 0.5s;
    vertical-align: middle;
    box-sizing: border-box;
    background: transparent;
    outline-color: #c684ff;
}

#root, #container2{overflow: hidden;}
#root.sidebar #container2 {left:0; width:100vw;}

#container2 {position:relative; min-height:100vh; left:calc(275px - 20px); top:0; width:calc(100vw - 255px); background:#fafafa; z-index:2; transition:all 0.5s ease;}

.contents {position:relative; padding: 30px;}

#poll1_list table {border-top:3px solid #1f2233; background:#fff; width: 100%;}
#poll1_list table .num {width:5%;}
#poll1_list table .state {width:10%;}
#poll1_list table .type {width:10%;}
#poll1_list table .date {width:15%;}
#poll1_list table .reward {width:8%;}
#poll1_list table .people {width:8%;}
#poll1_list table .management {width:11%;}
#poll1_list table tbody tr{cursor: pointer;}
#poll1_list table thead th {font-family:'scdream6'; font-size:0.875rem; line-height:70px; border-bottom:1px solid #e8e8e8;}
#poll1_list table td {min-height:70px; font-size:0.875rem; text-align:center; padding:15px 0; border-bottom:1px solid #e8e8e8;}
#poll1_list table span.state {color:#b2b2b2; font-weight: bold;}
#poll1_list table span.state.stand {color:#1f2233;}
#poll1_list table span.state.ongoing {color:#35b256;}
#poll1_list table span.state.complete {color:#dd4040;}
#poll1_list table span.member em {position:relative; color:#cf7afe; margin-left:4px; padding-left:10px;}
#poll1_list table span.member em:before {position:absolute; left:0; top:50%; transform:translateY(-50%); color:#1f2233; content:'/';}
#poll1_list table a.btn {min-width:54px; font-size:0.813rem; line-height:28px; margin:1px 0; display:inline-block; border-radius:3px;}
#poll1_list table a.btn.btnCL {color:#cf7afe; border:1px solid #cf7afe;}
#poll1_list table a.btn.btnCF {color:#fff; background:#cf7afe;}
#poll1_list table a.btn.btnL {color:#b2b2b2; border:1px solid #b2b2b2;}

#poll1_search select { position: relative; height: 46px; font-size: 0.75rem; padding: 0 35px 0 10px; margin: 0; border: 1px solid #e8e8e8; border-radius: 0; vertical-align: middle; background: #fff; outline-color:#c684ff;}
#poll1_search option{ font-weight: normal; display: block; white-space: nowrap; min-height: 1.2em; padding: 0px 2px 1px;}
#poll1_search {position:relative; padding:30px 50px 20px; margin-bottom:50px; border:1px solid #e8e8e8; border-top:3px solid #cf7afe; background:#fff; overflow:hidden;}
#poll1_search .search-form {float:left; width:50%;}
#poll1_search .search-form li {margin-bottom:30px;}
#poll1_search .search-form li > div {display:inline-block; }
#poll1_search .search-form li > div > span{margin: 0 5px;}
#poll1_search .search-form li > div > input[type=date]{width: 200px;}
#poll1_search .search-form li > div > input[type=date]::-webkit-calendar-picker-indicator{ font-size: 1.5rem;}
#poll1_search .search-form li > div > div > div > input[type=text]{width: 200px;}
#poll1_search .search-form li > div > .react-datepicker-wrapper{width: 200px; background: url(../../../../img/ico_calendar.svg) white right 20px center no-repeat; background-size: 20px;}
#poll1_search .search-form li > div > .react-datepicker__tab-loop{position: fixed; z-index: 1000;}
#poll1_search .search-form li:last-child {margin-bottom:0;}
#poll1_search .search-form h4 {font-family:'scdream6'; font-size:0.875rem; line-height:46px; margin-right:10px; margin-left:10px; display:inline-block; vertical-align:top;}
#poll1_search .search-form .chk-radio-box {display:inline-block;}
#poll1_search .search-form .chk-radio-box span {width:calc(100% / 6); display:inline-block; margin-right:5px; margin-bottom:10px;}
#poll1_search .search-form input[type=radio]{display: none;}
#poll1_search .search-form input[type=radio]:checked + label { color: #fff; background: #c684ff;}
#poll1_search .search-form input[type=radio] + label {display: inline-block; width:100%; min-width: 110px; font-family:'scdream3'; font-size:0.875rem; line-height:40px; text-align:center; padding:0; border-radius:5px; border:1px solid #e8e8e8; cursor:pointer; transition:all 0.5s;}
#poll1_search .search-form select{margin-right: 50px;}

#poll1_search .search-box {float:right; width:50%; text-align:right;}
#poll1_search .search-box input[type=text].search-val { width: 50%; margin-left: 10px; padding: 0 60px 0 20px; background: url(../../../../img/ico_searchVal.svg) white right 20px center no-repeat; background-size: 20px;}

#poll1_list .search-result {position:relative; text-align:right; margin-bottom:10px;}
#poll1_list select { position: relative; height: 36px; font-size: 0.75rem; padding: 0 31px 0 10px; margin: 0; border: 1px solid #e8e8e8; border-radius: 0; vertical-align: middle; background: #fff;}
#poll1_list .search-result .sel-tpye {position:absolute; left:0; top:50%; transform:translateY(-50%);}

#poll1_btn-wrap {text-align:center; margin-top:50px; justify-content: center; display: flex; align-items: center;}
#poll1_btn-wrap a {min-width:210px; display:inline-block; font-family:'scdream5'; color:#fff; line-height:56px; padding:0 20px; margin:0 5px; background:#cf7afe; transition:all 0.5s;}
#poll1_btn-wrap a:hover {background:#b46ef0;}

#poll1_btn-wrap .registration-btn{border: none; cursor: pointer;}

#poll1_btn-wrap a.btn.btnL { color: #b2b2b2; border: 1px solid #b2b2b2; background: #fff;}


