#nav { position: fixed; left: 0; width: 255px; height: 100vh; overflow-y: auto; background: #2b3245; z-index: 99; transition: all 0.5s;}
#off{display: none;}
#nav h1.logo{line-height:64px; background:#1f2233;}
#nav h1.logo a { display: block; width: 100%; height: 100%; font-size: 0; background: url(../../img/logo.svg) center no-repeat; background-size: auto 25px;}

.menu {width:100%; overflow:hidden;}
.menu > li {width:100%;}
.menu i {position:absolute; left:30px; top:28%; transform:translateY(-50%); width:20px; height:20px;}
.menu a {position:relative; display:block; font-family:'scdream3'; color:#b2b2b2; line-height:46px; padding:0 15px 0 70px; transition:all 0.5s;}
.menu a:hover {background:#1f2233; color:#cf7afe;}
.menu a.on {font-family:'scdream4';  background:#222636;}

.smenu {display:none; background:#222636;}
.on{display: block;}
.smenu > li {line-height:40px;}
.smenu a:hover {color:#cf7afe;}
#root.sidebar #nav {left:-255px;}