input[type=tel][readonly], input[type=text][readonly],
input[type=password][readonly], input[type=email][readonly],
input[type=search][readonly], input[type=tel][disabled], input[type=text][disabled],
input[type=password][disabled], input[type=search][disabled], input[type=email][disabled] {
    background: #eaeaea;
    border-color: #c0c0c0;
    color: #666;
}

label, img, input, select, textarea, button {
    vertical-align: middle;
}

address, cite, code, em {
    font-style: normal;
    font-weight: normal;
}

.contents { position: relative; padding: 30px;}
.contents > .create-point_h { position: relative; width: 75%; font-family: 'scdream7'; font-size: 1.375rem; margin-bottom: 20px;}

#create-point_write { overflow: hidden;}
#create-point_write .item { margin-top: 10px; border: 1px solid #e8e8e8; background: #fff;}
#create-point_write .item .title { position: relative; font-family: 'scdream6'; font-size: 0.875rem; line-height: 64px; padding: 0 30px; border-bottom: 1px solid #e8e8e8;}

#create-point_write .item .desc { font-family: 'scdream3'; font-size: 0.875rem; padding: 20px 30px;}
#create-point_write .item .desc input[type=text] {width: 100%;}
#create-point_write .item .desc span.txt { display: inline-block; font-family: 'scdream6'; font-size: 0.875rem; line-height: 46px; margin: 0 10px;}

#create-point_write .item .desc > .input-group > input[type=date]::-webkit-calendar-picker-indicator{ font-size: 1.5rem;}
#create-point_write .item .desc > .input-group > input[type=date]{width: 200px;}
#create-point_write .item .desc > .input-group > .react-datepicker-wrapper{width: 200px; background: url(../../../../../img/ico_calendar.svg) white right 20px center no-repeat; background-size: 20px;}
#create-point_write .item .desc > .input-group > .react-datepicker__tab-loop{display: inline-flex; z-index: 1000;}
#create-point_write .item .desc > .input-group > .aa{margin: 0 10px;}

#create-point_btn-wrap {text-align: center; margin-top: 50px;}
#create-point_btn-wrap a { min-width: 210px; display: inline-block; font-family: 'scdream5'; color: #fff; line-height: 56px; padding: 0 20px; margin: 0 5px; background: #cf7afe; transition: all 0.5s;}
#create-point_btn-wrap a.btnL { color: #b2b2b2; border: 1px solid #b2b2b2; background: #fff;}
#create-point_btn-wrap a.btnCF {color: #fff;background: #cf7afe;}
#create-point_btn-wrap a.btnCF:hover{background: #b46ef0;}

#create-point_write input[type=checkbox] { display: none;}
#create-point_write input[type=checkbox] + label { position: relative; width: 22px; height: 22px; line-height: 22px; padding-left: 35px; display: inline-block; vertical-align: top;}
#create-point_write input[type=checkbox] + label:before { position: absolute; left: 0; top: 0; width: 22px; height: 22px; border: 1px solid #e8e8e8; background: #fff; content: '';}

#create-point_write input[type=checkbox]:checked + label:after { position: absolute; top: 50%; left: 6px; transform: translateY(-50%); width: 11px; height: 11px; content: '';}
#create-point_write input[type=checkbox]:checked + label:before { border: 1px solid #c684ff; background: #c684ff;}

#create-point_write .item .desc label.bnt { min-width: 140px; font-size: 0.875rem; color: #a5a5a5; line-height: 44px; text-align: center; margin-right: 10px; padding: 0 20px; display: inline-block; border-radius: 10px; border: 1px solid #e8e8e8; cursor: pointer; transition: all 0.5s;}
#create-point_write .item .desc label.bnt:hover{background: #e8e8e8;}

#create-point_write table .num { width: 5%;}
#create-point_write table { width: 100%; border-spacing: 0; border-collapse: collapse; border-top: 3px solid #1f2233; background: #fff;}
#create-point_write table thead th { font-family: 'scdream6'; font-size: 0.875rem; font-weight: normal; padding: 24px 0; border-bottom: 1px solid #e8e8e8;}
#create-point_write table td { min-height: 70px; font-size: 0.875rem; text-align: center; padding: 15px 0; border-bottom: 1px solid #e8e8e8;}
#create-point_write table a.btn.btnL { line-height: 28px; color: #b2b2b2; border: 1px solid #b2b2b2; cursor: pointer;}
#create-point_write table a.btn { min-width: 54px; font-size: 0.813rem; margin: 1px; display: inline-block; border-radius: 3px;}

/* pop */
*, :before, :after { box-sizing: border-box;}
#create-point_popup table { width: 100%; border-spacing: 0; border-collapse: collapse;}
#create-point_popup colgroup { display: table-column-group;}
#create-point_popup col { display: table-column;}
#create-point_popup thead { display: table-header-group; vertical-align: middle; border-color: inherit;}
#create-point_popup table thead th { font-family: 'scdream6'; font-size: 0.875rem; font-weight: normal; padding: 24px 0; border-bottom: 1px solid #e8e8e8;}
#create-point_popup tbody { display: table-row-group; vertical-align: middle; border-color: inherit;}
#create-point_popup tr {display: table-row; vertical-align: inherit; border-color: inherit;}
#create-point_popup table td { min-height: 70px; font-size: 0.875rem; text-align: center; padding: 15px 0; border-bottom: 1px solid #e8e8e8;}

.create-point_pop1 { position: fixed; z-index: 100; top: 0; width: 100%; height: 100%; z-index: 100; background: rgba(0,0,0,.5); display: none;}
.create-point_pop1 select { position: relative; height: 46px; font-size: 0.75rem; padding: 0 31px 0 10px; margin-right: 5px; border: 1px solid #e8e8e8; border-radius: 0; vertical-align: middle; background: #fff;}
.create-point_pop1 input[type=text] { width: 30%; background: url(../../../../../img/ico_searchVal.svg) white right 20px center no-repeat; background-size: 20px;}
.create-point_pop1.on{display: block;}
#create-point_popup > div { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); min-width: 800px; padding: 40px; background: #fff;}
#create-point_popup h1 { font-family: 'scdream7'; font-size: 1.75rem; margin-bottom: 30px;}
#create-point_popup .sch-pop {position: relative;margin-bottom: 30px;}
#create-point_popup .sch-pop p {font-size: 0.875rem;margin-top: 10px;}

#create-point_popup input[type=radio], #create-point_popup input[type=checkbox] {position: absolute; visibility: hidden;}
#create-point_popup input[type=radio] + label, #create-point_popup input[type=checkbox] + label { position: relative; line-height: 25px; padding-left: 35px; display: inline-block; vertical-align: top;}

#create-point_popup input[type=checkbox] + label:before { position: absolute; left: 5px; top: 0; width: 23px; height: 23px; border: 1px solid #dadada; background: #fff; content: '';}
#create-point_popup input[type=checkbox] + label:after { position: absolute; left: 5px; top: 0; width: 23px; height: 23px; border: 1px solid #dadada; background: #fff; content: '';}

#create-point_popup .cont { max-height: 400px; overflow-y: auto;}
#create-point_popup table { border-top: 3px solid #c684ff;}

#create-point_popup .colse_pop { position: absolute; right: 40px; top: 40px; width: 26px; height: 26px; text-indent: -999em; padding: 0; cursor: pointer; background: none;}
#create-point_popup .colse_pop:before { position: absolute; left: 50%; transform: rotate(-45deg); width: 1px; height: 100%; background: #666; content: '';}
#create-point_popup .colse_pop:after { position: absolute; left: 50%; transform: rotate(45deg); width: 1px; height: 100%; background: #666; content: '';}
