.contents {position: relative; padding: 30px;}

#media_write {overflow:hidden;}
#media_write .media_left {float:left; width:75%;}
#media_write .random-wrap {position:relative; text-align:right; padding:10px 0; background:#fff;}

#media_write .item {margin-top:10px; border:1px solid #e8e8e8; background:#fff;}
#media_write .item .title {position:relative; font-family: 'scdream5'; font-size:0.95rem; line-height:64px; padding:0 30px; border-bottom:1px solid #e8e8e8;}
#media_write .item .title > i {display:inline-block; width:7px; height:7px; margin-left:10px; background:url(/src/img/ico_required.svg) center no-repeat; background-size:cover;}

#media_write .item .desc {position:relative; padding:20px 30px;}
#media_write .item .desc > div {position:relative;}
#media_write .item .desc input[type=date] {outline-color: #c684ff;width:140px;height: 46px;font-size: 0.75rem;color: #1f2233;padding: 0 10px;border: 1px solid #ddd;transition: all 0.5s;vertical-align: middle;box-sizing: border-box;background: transparent;}
#media_write .item .desc input[type=date]::-webkit-calendar-picker-indicator{ font-size: 1.5rem;}
#media_write .item .desc input[type=text] {outline-color: #c684ff; width:100%; height: 46px; font-size: 0.75rem; color: #1f2233; padding: 0 20px; border: 1px solid #ddd; transition: all 0.5s; vertical-align: middle; box-sizing: border-box; background: transparent;}
#media_write .item .desc input.clock {width:140px; margin-left:10px; padding:0 10px; background:url(/src/img/ico_clock.svg) right 10px center no-repeat; background-size:18px;}
#media_write .item .desc input.w180{width: 180px;}
#media_write .item .desc.draggable {padding:20px 9.3rem 20px 30px;}
#media_write .item .desc.draggable p {position:relative;}
#media_write .item .desc.draggable select {position:absolute; top:20px; right:3.5rem;}
#media_write .item .desc.draggable a.btn-del {position:absolute; top:33px; right:20px; width:20px; height:20px; text-indent:-999em; background:url(/src/img/ico_del.svg) no-repeat; background-size:auto 100%;}
#media_write .item .desc #btnAtt {position:relative; width:280px; height:140px; display:inline-block; vertical-align:top; cursor:pointer; border: 1px dashed #e8e8e8;}
#media_write .item .desc #btnAtt:before {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:2px; height:28px; background:#e8e8e8; content:'';}
#media_write .item .desc #btnAtt:after {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:28px; height:2px; background:#e8e8e8; content:'';}
#media_write .item .desc .img-photo #photo-view { position: absolute; left: 2rem; top: auto; display: inline-block;}
#media_write .item .desc .img-photo #photo-view .preview-img{width: 280px; height: 140px; object-fit: cover;}
#media_write .item .desc .img-photo #photo-view input[type=button].deleteImg {position: absolute; width: 280px; height: 2.3rem; bottom: 0; left: 0; background: black; color: white; font-size: 1rem; opacity: 0.7; cursor: pointer;}
#media_write .item .desc select { position: relative; height: 46px; font-size: 0.75rem; padding: 0 31px 0 10px; margin: 0; border: 1px solid #e8e8e8; border-radius: 0; vertical-align: middle; background: #fff;}
#media_write .item .desc.a{display: inline-flex; align-items: center;}
#media_write .item .desc > .gita {float: left; margin-left: 2rem;}

#media_write .item .accordion {margin-top:20px; overflow:hidden; border:1px solid #e8e8e8; background:#f7f9fb;}
#media_write .item .accordion .title {display:block; width:auto; height:auto; line-height:64px; padding:0 20px; border-bottom:0;}
#media_write .item .accordion .title:before, #media_write .item .accordion .title:after {display:none;}
#media_write .item .accordion i {position:absolute; top:50%; right:20px; transform:translateY(-50%); width:20px; height:20px;}
#media_write .item .accordion i:before {position:absolute; top:3px; right:5px; transform:rotate(45deg); width:10px; height:10px; border-bottom:2px solid #333; border-right:2px solid #333; content:'';}
#media_write .item .accordion input[type=checkbox]:checked + label i {right:40px; transform:translateY(-50%) rotate(180deg);}
#media_write .item .accordion input[type=checkbox]:checked + label + .desc {max-height:1000px; padding:20px 30px; border-top:1px solid #e8e8e8;}
#media_write .item .accordion .desc {height:100%; max-height:0; padding:0; overflow:hidden; transition:max-height .5s ease-in-out;}
#media_write .item .accordion .desc dl {position:relative; padding-left:70px; padding-right:200px; padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #e8e8e8;}
#media_write .item .accordion .desc dl:last-child {padding-bottom:0; margin-bottom:0; border:0;}
#media_write .item .accordion .desc dt {position:absolute; left:0; top:14px; font-family:'scdream6'; font-size:0.875rem;}
#media_write .item .accordion .desc dd {display:inline-block; width:45%; margin-bottom:5px;}
#media_write .item .accordion .desc dd .txt {width:40px;}
#media_write .item .accordion .desc dd input[type=text] {width:80px;background:#fff;}
#media_write .item .accordion .desc .rightB {top:0; right:0; transform:none;}

#media_write .item .normal-note li {position:relative; margin-bottom:5px; padding-left:2.5rem;}
#media_write .item .normal-note li span {position:absolute; left:0; top:50%; transform:translateY(-50%);}
#media_write .item .normal-note input[type=checkbox]:checked + label:after {top:0; transform:none;}
#media_write a.btn-add {display:block; font-family:'scdream5'; line-height:54px; color:#c684ff; text-align:center; margin-top:10px; border:1px solid #c684ff; background:url(/src/img/ico_btnAdd.svg) left 30px center no-repeat; background-size:20px;}

#media_write .item .desc input[type=radio]{display: none;}
#media_write .item .desc input[type=radio]:checked + label { color: #fff; background: #c684ff;}
#media_write .item .desc input[type=radio] + label { min-width: 140px; font-size: 0.875rem; color: #c684ff; line-height: 44px; text-align: center; margin:0 10px 5px 0; padding: 0 20px; display: inline-block; border-radius: 10px; border: 1px solid #c684ff; cursor: pointer; transition: all 0.5s;}
#media_write .item .desc input[type=text].w100{width: 100px; text-align: center;}

#media_write .item input[type=checkbox] {display: none;}
#media_write .item input[type=checkbox] + label { cursor: pointer; position: relative; line-height: 22px; padding-left: 35px; display: inline-block; vertical-align: top;}
#media_write .item input[type=checkbox] + label:before { position: absolute; left: 0; top: 0; width: 22px; height: 22px; border: 1px solid #e8e8e8; background: #fff; content: '';}
#media_write .item input[type=checkbox] + label:after { position: absolute; left: 0; top: 0; width: 23px; height: 23px; border: 1px solid #dadada; background: #fff; content: '';}
#media_write .item input[type=checkbox]:checked + label:after { position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 22px; height: 21px; border:0; background:url(/src/img/ico_chk_after.svg) center no-repeat #c684ff; background-size:60%; content: '';}

#media_write .interest input[type=checkbox] + label {position:relative; display:inline-block; min-width:140px; width:calc(100% / 8 - 10px); height:auto; font-size:0.875rem; color:#c684ff; line-height:44px; text-align:center; margin:0 10px 5px 0; padding:0; border-radius:10px; border:1px solid #c684ff; transition:all 0.5s; cursor:pointer;}
#media_write .interest input[type=checkbox] + label:before, #media_write .interest input[type=checkbox] + label:after {display:none;}
#media_write .interest input[type=checkbox]:checked + label {color:#fff; background:#c684ff;}

#media_write .item .desc .react-datepicker-wrapper{background: url(../../../../../img/ico_calendar.svg) white right 20px center no-repeat; background-size: 20px;}

#media_write .item .desc input[type=file] {display:none;}
#media_write .item .desc input.txtR {width:180px; text-align:right;}
#media_write .item .desc input.txtR.no { background-color: #ddd;}
#media_write .item .desc span.txt {display:inline-block; font-family:'scdream5'; font-size:0.875rem; line-height:46px; margin:0 10px;}
#media_write .item .desc p.comment {font-size:0.75rem; color:#35b256; margin-top:10px;}

#media_write .item .desc .chkBox { position: relative; font-family: 'scdream3'; font-size: 0.875rem; margin-top: 10px;}

#media_write .item .rightB {position:absolute !important; right:30px; top:50%; transform:translateY(-50%); font-family:'scdream4'; line-height:normal;}
#media_write .item .rightB input[type=checkbox] + label {position:relative; min-width:auto; font-size:1rem; text-align:left; line-height:22px; color:#1f2233; margin-right:0; padding:0 0 0 35px; display:inline-block; vertical-align:top; border:0;}
#media_write .item .rightB input[type=checkbox] + label:before {position:absolute; left:0; top:50%; transform:translateY(-50%); width:22px; height:22px; border:1px solid #ddd; background:#fff; content:'';}
#media_write .item .rightB input[type=checkbox]:checked + label {color:#1f2233; background:none;}
#media_write .item .rightB input[type=checkbox]:checked + label:after {position:absolute; top:47%; left:1px; transform:translateY(-45%); width:20px; height:20px; border:0; background:url(/src/img/ico_chk_after.svg) center no-repeat #c684ff; background-size:60% !important; content:'';}

#media_write .right { width:25%; padding:0 20px; position: fixed; right: -30px; bottom: 1rem;}
#media_write .preview {text-align:center; border: 1xp solid #333;}
#media_write .preview h4 {font-family: 'scdream6'; font-size:1.25rem; margin:auto 30px;}
#media_write .preview .phone {position:relative; max-width:360px; height:46rem; max-height:730px; margin:0 auto; padding:1.3vh 1vw 1.5vh; background:url(../../../../../img/img_phone.svg) top center no-repeat; background-size:100%;}
#media_write .preview .phone .desc {height:100%; max-height:690px; display: flex; justify-content: center; align-items:top;}

#media_write .preview .phone .desc .modal{width: 17rem; height:18rem; margin-bottom:10rem; border-radius: 15px;}
#media_write .preview .phone .desc .modal h2 {font-family:'scdream5'; font-size:0.875rem; line-height:3.5; border-bottom:2px solid #ddd;}
#media_write .preview .phone .desc .modal .title{font-weight: bold; display: flex; margin: 10px 8px 5px 10px; font-size: 11px;}
#media_write .preview .phone .desc .modal img{ width: 7rem; height: 5rem; border-radius: 10px;}
#media_write .preview .phone .desc .modal ul.info{display: flex; justify-content: space-around; margin: 5px; align-items: center;  font-size: 10px;}
#media_write .preview .phone .desc .modal .date{display: flex; justify-content: center; font-size: 12px; color: rgba(68, 68, 68, 0.667); margin-bottom: 10px;}

#media_write .preview .phone .desc .modal .titleImg{margin-top: 10px;}
#media_write .preview .phone .desc .modal .titleImg > .preview-img{width: 14rem; height: 8rem;}
#media_write .preview .phone .desc .modal .multipleImg{display: grid; grid-template-columns: repeat(2, 1fr);}
#media_write .preview .phone .desc .modal .multipleImg > li{margin: 5px 0;}
#media_write .preview .phone .desc .modal .multipleImg > li > p{font-size: 12px; margin-top: 5px;}

#media_write .preview .phone .desc .modal .multipleTxt{padding: 10px; font-size: 12px;}
#media_write .preview .phone .desc .modal .multipleTxt > li{ line-height: 2.3; border: 2px solid #ddd; border-radius: 5px; margin-bottom: 10px;}
#media_write .preview .phone .desc .modal .multipleTxt > li > label{width: 40px; float: left; background: #b2b2b2;}

#media_write .item .box-wrap {margin-top:10px; border:1px solid #e8e8e8; background: #f7f9fb;}
#media_write .item .box-wrap input[type=text] {background: #fff;}
#media_write .item .box-wrap input[type=radio] + label {background:#fff;}
#media_write .item .box-wrap .tit {position: relative; padding-right: 80px;}
#media_write .item .box-wrap .tit>button { position: absolute; top: 0.3rem; right: 1rem; font-size: 0.875rem; color: #fff; line-height: 36px; text-align: center; padding: 0 10px; border-radius: 5px; background: #c684ff; background-size: 20px; cursor: pointer; border: none;}
#media_write .item .box-wrap .tit>button:hover{background: #b46ef0; transition: all 0.5s;}
#media_write .item .box-wrap #btnAtt2 { position: absolute; right:0.5rem; top:50%; transform:translateY(-50%); width: auto; height: auto; font-size: 0.875rem; color: #fff; line-height: 36px; text-align: center; padding: 0 10px; border-radius: 5px; background: #c684ff; background-size: 20px; cursor: pointer;}
#media_write .item .box-wrap #btnAtt2:hover{background: #b46ef0; transition: all 0.5s;}
#media_write .item .box-wrap .box { padding: 20px; margin-bottom: -1px; border: 1px solid #e8e8e8; background:url(/src/img/ico_menu.svg) top 35px right 20px no-repeat; background-size:20px auto; cursor:move;}
#media_write .item .desc button.btn-add { display: block; font-family: 'scdream5'; width: 100%; line-height: 54px; color: #c684ff; text-align: center; margin-top: 10px; border: 1px solid #c684ff; background: none; cursor: pointer;}
#media_write .item .box-wrap .box { padding: 20px; margin-bottom: -1px; border: 1px solid #e8e8e8; background-size: 20px auto; z-index: 0;}
#media_write .item .box-wrap .box.draggable {padding:20px; margin-bottom:-1px; border:1px solid #e8e8e8; background:url(/src/img/ico_menu.svg) top 35px right 20px no-repeat; background-size:20px auto; cursor:move; z-index:0;}
#media_write .item .box-wrap .box.draggable .tit a {position:absolute; top:13px; right:40px; width:20px; height:20px; text-indent:-999em; background:url(/src/img/ico_del.svg) no-repeat; background-size:auto 100%;}

#media_write .item .box.draggable dl {position:relative; padding:20px 0 20px 100px; margin-top:-1px; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8;}
#media_write .item .box.draggable dt {position:absolute; left:20px; top:34px; font-family:'scdream6'; font-size:0.875rem;}

#media_write .item .desc .box-wrap #photo-view {position: absolute; left: 0; top: 56px; display: inline-block;}
#media_write .item .desc .box-wrap #photo-view .preview-img{width: 423px; height: 140px; object-fit: cover;}
#media_write .item .desc .box-wrap #photo-view input[type=button].deleteImg {position: absolute; width: 100%; height: 2.3rem; bottom: 0; left: 0; background: black; color: white; font-size: 1rem; opacity: 0.7; cursor: pointer;}

/* emoji */
#media_write .item .desc .react-input-emoji--container{border: none;}
#media_write .item .desc .react-input-emoji--input{position: relative;  outline: none; border: 1px solid #ddd; height: 46px;}
#media_write .item .desc .react-input-emoji--button{position: absolute; top: 1rem; right: 0%; z-index: 1000;}
#media_write .item .desc .react-emoji{width: 100%;}
#media_write .item .desc .react-emoji-picker--wrapper{ position: absolute; bottom: 0; right: 0; height:300px; width: 400px; overflow: hidden; z-index: 10;}
#media_write .item .desc .react-emoji-picker { top: 19rem; left: 66rem; animation: slidein 0.1s ease-in-out; position: fixed;}

#media_write .item .desc .boxs>.comment.one{margin-bottom: 15px;}

#multiple_btn-wrap {text-align:center; margin-top:50px; justify-content: center; display: flex; align-items: center;}
#multiple_btn-wrap a {min-width:210px; display:inline-block; font-family:'scdream5'; color:#fff; line-height:56px; padding:0 20px; margin:0 5px; background:#cf7afe; transition:all 0.5s;}
#multiple_btn-wrap a:hover {background:#b46ef0;}
#multiple_btn-wrap .multiple_registration-btn{border: none; cursor: pointer;}
#multiple_btn-wrap a.multiple_btn.multiple_btnL { color: #b2b2b2; border: 1px solid #b2b2b2; background: #fff;}